/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    background: #0E0E2C;
}

header {
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
    position: fixed;
    z-index: 1;
}

nav {
    margin: 0 5.5vw;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navMenu>ul>li {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 24px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

#navCTA {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

section {
    height: 100vh;
}

.hero {
    overflow: hidden;
    background-image: url('../images/bgHero.svg');
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-bet;
    align-items: flex-start;
}

.bg {
    background: url('../images/bgBody.svg') repeat;
}

.herobox {
    padding: 40px;
    width: 736px;
    border-radius: 8px;
    margin-left: 80px;
    margin-top: 80px;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
    color: white;
}
.herobox>p {
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.herobox>h1 {
    font-size: 4.25rem;
    line-height: 1;
    letter-spacing: -2px;
}
.herobox>h4 {
    font-size: 1.75rem;
    letter-spacing: 0px;
    line-height: 1.2;
    letter-spacing: 0px;
    margin-top: 16px;
    width: 536px;
    font-weight: 600;
}
.herobox>a {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 16px;
    color: white;
    background: linear-gradient(170deg, #FF0066 0.62%, #0006FF 100%);
    background: navy;
    padding: 16px 115.5px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
}
.herobox>a:hover {
    color: black;
    background: white;
}

.illustration {
    background: url(../images/character.svg) no-repeat;
    width: 624px;
    height: 639px;
    z-index: -1;
    margin-top: 80px;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    color: white;
}

body {
    background: #0E0E2C;
    /* margin: 0 5.5vw; */
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
    z-index: 100;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 80px;
}

.navlogo {
    height: 64px;
}

a {
    text-decoration: none;
}

#aboutus,
#services,
#portfolio,
#contact {
    padding: 8px 32px;
}

#about:hover {
    /* border-bottom: 1px solid white; */
}

#services:hover {
    /* border-bottom: 1px solid white; */
}

#portfolio:hover {
    /* border-bottom: 1px solid white; */
}

#contact:hover {
    /* border-bottom: 1px solid white; */
}

section {
    scroll-behavior: smooth;
}

#hero {
    overflow: hidden;
    background: url(../images/bgHero.svg) no-repeat;
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 160px 80px;
}

.textbox {
    width: 50vw;
    padding: 40px;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    overflow: hidden;
}

.textbox>p {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.textbox>h1 {
    font-size: 4.25rem;
    line-height: 1.1;
    letter-spacing: -1px;
}

.textbox>h4 {
    font-size: 1.75rem;
    letter-spacing: 0px;
    line-height: 1.2;
    letter-spacing: 0px;
    margin-top: 16px;
    font-weight: 600;
}

.textbox>a {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 24px;
    padding: 16px 112px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    background: linear-gradient(130deg, #0009E7 0.63%, #000245 92.52%);
}

.bg {
    background: url(../images/bgBody.svg) repeat;
    background-size: contain;
    height: 120vh;
}

#character {
    background: url(../images/character.gif);
    background-size: cover;
    width: 33vw;
}

#clients {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 160px 80px;
    gap: 24px;
}

.client {
    border-radius: 8px;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
}

#client1 {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    height: fit-content;
}

#client1>h3 {
    font-size: 2.375rem;
    line-height: 1.1;
    letter-spacing: -1px;
}

#client1>h5 {
    font-size: 1.375rem;
    line-height: 1.1;
    letter-spacing: 0px;
    font-weight: 600;
    margin-top: 16px;
}

#client1>a {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 24px;
    padding: 16px 112px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    background: linear-gradient(130deg, #0009E7 0.63%, #000245 92.52%);
}

#about {
    padding: 160px 80px;
}

.aboutbox {
    border-radius: 8px;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 80px;
}

.aboutbox>h2 {
    font-size: 3.25rem;
    line-height: 1.1;
    letter-spacing: -1px;
    margin-top: 40px;
    text-align: center;
}

.aboutbox>p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 180px;
    margin-top: 24px;
    text-align: center;
}

.aboutbox>a {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 40px;
    padding: 16px 112px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    background: linear-gradient(130deg, #0009E7 0.63%, #000245 92.52%);
}

.aboutboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}

#box1,
#box2,
#box3,
#box4,
#box5 {
    border: 1px solid white;
    height: 150px;
    width: 200px;
    border-radius: 8px;
    margin: 0 8px;
}

#servicesbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
    padding: 160px 80px;
}

.service {
    border-radius: 8px;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
}

#service1 {
    grid-column: 1/5;
    margin-bottom: 16px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#service1>h2 {
    font-size: 3.25rem;
    line-height: 1.1;
    letter-spacing: -1px;
}

#service1>p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 24px;
    width: 60vw;
}

#service1>a {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 24px;
    padding: 16px 112px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    background: linear-gradient(130deg, #0009E7 0.63%, #000245 92.52%);
}

#projects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    padding: 160px 80px;
}

#projects>a {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 16px 112px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    background: linear-gradient(130deg, #0009E7 0.63%, #000245 92.52%);
    grid-column: 1/7;
    margin: 0 25vw;
}

.project {
    border-radius: 8px;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
}

#project1 {
    grid-column: 1/4;
}

#project2 {
    grid-column: 4/6;
}

#project5 {
    grid-column: 2/4;
}

#project6 {
    grid-column: 4/7;
}

#testimonials {
    padding: 160px 0px;
    height: 100vh;
}

.carousel {
    background: #FAFAFA;
}

.carousel-cell {
    width: 66%;
    height: 500px;
    margin-right: 24px;
    border-radius: 8px;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
    counter-increment: carousel-cell;
    padding: 80px 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.carousel-cell>h3 {
    font-size: 2.375rem;
    line-height: 1.1;
    letter-spacing: -1px;
    text-align: center;
}

.clientinfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.clientdp {
    background: url(../images/clientdp.svg);
    background-size: cover;
    width: 85px;
    height: 85px;
    margin-right: 24px;
}
.name {
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -1px;
    margin-bottom: 8px;
}
.company {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
}
.location {
    font-size: 0.75rem;
    font-weight: 500;
}

#contactbox {
    height: 90vh;
    padding: 160px 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
#contactdetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
}
#address {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 24px;
    border-radius: 8px;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
    width: 45vw;
}
#address>strong {
    font-size: 1.375rem;
    font-weight: 700;
}
#email {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -1px;
    padding: 24px;
    border-radius: 8px;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
}
#mobilenumber {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -1px;
    padding: 24px;
    border-radius: 8px;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
}
#contactdetails>a {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 16px 80px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    background: linear-gradient(130deg, #0009E7 0.63%, #000245 92.52%);
}

.map {
    width: 30vw;
    height: 40vh;
    border: 1px solid white;
    border-radius: 8px;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
}

.finalcta {
    padding: 80px;
}

.copyright {
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    background: rgba(14, 14, 44, 0.08);
    backdrop-filter: blur(8px);
    padding: 24px 80px;
    text-align: center;
}

.bgchange {
    height: fit-content;
}

@media screen and (max-width:600px) {
    nav {
        padding: 0 24px;
    }

    .menu,
    .cta {
        visibility: hidden;
    }

    #hero,
    #clients {
        padding: 120px 24px;
    }

    #hero {
        height: 145vh;
    }

    .textbox {
        width: fit-content;
        padding: 24px;
        align-items: center;
        text-align: center;
    }

    .textbox>p {
        font-size: 0.65rem;
    }

    .textbox>h1 {
        font-size: 2.6rem;
    }

    .textbox>h4 {
        font-size: 1.2rem;
    }

    .textbox>a {
        padding: 16px 32px;
    }

    .bg {
        background-size: cover;
    }

    #character {
        background: url(../images/character.gif);
        background-size: cover;
        width: 100vw;
        height: 50vh;
        margin-top: 24px
    }
}