* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

/* body {
    margin: 0 5.5vw;
} */

nav {
    padding: 4px 80px;
    /* border: 1px solid black; */
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navMenu>ul>li {
    font-size: 1rem;
    font-weight: 700;
    padding: 0 16px;
    cursor: pointer;
}

#navCTA {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}